<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
  <div id="app">
    <form>
      <div>
        <label>用户名</label>
        <input type="text" name="username" placeholder="请输入用户名"/>
      </div>
      <div>
        <label>密码 &nbsp;&nbsp;</label>
        <input type="password" name="password" placeholder="请输入密码"/>
      </div>
      <div>
        <button id="login">登录</button>
      </div>
    </form>
  </div>
</body>
</html>